{% extends ('common/base.html.twig') %}


{% block body %}

    {% for project in projects %}

        <section class="blogsection">
            <div class="displayFlexCenter">
                <div class="container-perso">
                    <h2 class="reveal title">{{ project.title}}</h2>
                    <div class="reveal-left">
                        <div class="zindex reveal reveal-right blogfloat bdesktop4 desktop6 tablet6 phone12">
                            <img class="img-fluid" alt="photo de l'article" title="photo de l'article" src="{{ asset('img/'~project.pic) }}">
                        </div>
                        <p class="reveal">Créé par {{ project.user.email }} le {{ project.date|date('d m Y') }}</p>
                        <div class="articlescontent">
                            <p class="text reveal">
                                {{ project.content |raw }}
                            </p>
                        </div>
                        <div class="displayFlexCenter">
                            <a href="{{ path('project', {'id':project.id}) }}">
                                <p class="reveal btnarticle">Voir le projet</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endfor %}




{% endblock %}