{% extends 'common/base.html.twig' %}

{% block body %}
{% for article in articles %}

    <section class="blogsection">
        <div class="displayFlexCenter">
            <div class="container-perso">
                <h2 class="reveal title">{{ article.title}}</h2>
                <div class="reveal-left">
                    <div class="zindex reveal reveal-right blogfloat bdesktop4 desktop6 tablet6 phone12">
                        <img class="img-fluid" alt="photo de l'article" title="photo de l'article" src="{{ asset('img/'~article.pic) }}">
                    </div>
                    <p class="reveal">Rédigé par Balcany pas en prison le {{ article.date |date('d m Y') }}</p>
                    <p class="text reveal">
                        {{ article.content }}
                    </p>
                    <div class="displayFlexCenter">
                        <a href="{{ path('article', {'id':article.id}) }}">
                            <p class="reveal btnarticle">Voir l'article</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endfor %}

{% endblock %}